<div class="adminTabEmails">
<div>
	<button class='showButton' ng-click='getEmails()'>Emails</button>
	<button class='showButton' ng-click='toggleUpdateView();'>Send Email</button>
</div>


		<div class="searchBar">
			FILTER: <input ng-model='search'></input>
		</div>
		
		
		<div class="searchedShows" ng-repeat = 'email in emails |filter: search'>
			<a ng-click='deleteEmail(email.id); getEmails()'><i  class="fa fa-trash-o fa-2x"></i></a>
			<div class = 'adminArtist'>{{email.email}}</div>

			
			
			
		</div>
</div>

</div>