
<div class="aboutWrapper"><p class="signUpHeader">Want a free concert ticket?</p>
<br>
<p class="signUpHeader2">Join our Weekly Newsletter!</p>

<div class="emailSignUpContainer">
	<input class ='emailFormInput' ng-model ='email' placeholder = 'email'></input>
	<input ng-model ='name' class = 'emailFormInput' placeholder = 'name'></input>
</div>

<button class='signUpButton'ng-click = 'postEmail(email, name)'><i class="fa fa-envelope-o"></i>&nbsp &nbsp sign-up</button>

<br>
<br>

Get Your Free Concert Ticket!
<input ng-model = 'emailToVerify' placeholder="email"></input>
<input ng-model = 'code' placeholder ="Verification Code"></input>
<button ng-click='verifyEmail(emailToVerify, code)'>verify</button>
</div>