

<div class="newsBody">
	<div class="emailThanks" ng-show='emailThanks'>
			<p>Thanks for Signing up, You will be receiving a redemption code soon!</br> make sure to come back and claim your free ticket!</p>
		</div>
	<div class="newsletterSignUp" ng-show = 'SignUpToggle'>
		<div class="newsLetterAdv">
			<p>Subscribe to our weekly newsletter and receive one free concert ticket!</p>
		</div>
		<div class="emailAlert" ng-show='validEmail'>
			<p>Please enter a valid E-mail</p>
		</div>
		<div class="emailAlert" ng-show='emailExists'>
			<p>We're sorry, that email has already signed up</p>
		</div>
		
		
		<div class="emailCard">
			<input class ='emailFormInput' ng-model ='email' placeholder = 'EMAIL'></input>
			<input ng-model ='name' class = 'emailFormInput' placeholder = 'NAME'></input>
			<button class='signUpButton'ng-click = 'postEmail(email, name)'><i class="fa fa-envelope-o"></i>&nbsp &nbsp sign-up</button>
			<div class="claimFreeTicket"><a ng-class="{active:$state.includes('redeem')}" ui-sref='velour.redeem'>&nbsp &nbspClaim Free Ticket</a></div>
		</div>

	</div>
	
	
	<div class="newsLetterBody">
	<div class="newsLetterContent">
		<aside>
			<p>Recent Articles</p>
				<div class="posts">
				<div class ='postTitle' ng-repeat = 'post in newsLetter'>
					<a ng-click='goToPost(post._id)'ng-class="{activeTitle: isActive('/about/newsletter/{{post._id}}')}">{{post.title.toUpperCase()}}</a>
				</div>
				</div>
			
		</aside>
		<div class="newsLetterContent">
			<ui-view></ui-view>
		</div>
	</div>
	</div>
	
	
	
</div>