
<div class = 'wrapper'>
		<div class="calendarHeader">	
			<img class='arrowLeft' ng-click ='previousMonth()'src="../../media/arrowsleft.png" alt="">
			<p>{{month}} </p>
			<img  ng-click ='nextMonth()'src="../../media/arrows.png" alt="">
		</div>
	<div class="calendarBody">
		<div class="weekdays">
			<div class="weekday">SUNDAY</div>
			<div class="weekday">MONDAY</div>
			<div class="weekday">TUESDAY</div>
			<div class="weekday">WEDNESDAY</div>
			<div class="weekday">THURSDAY</div>
			<div class="weekday">FRIDAY</div>
			<div class="weekday">SATURDAY</div>
			
		</div>

		<div class="weekDayPlaceHolder" ng-repeat='spaces in placeholder'></div>
		<div class="calendar" ng-repeat = 'days in calendar'>
		
			<div class="day">
				{{$index +1}}
				<div class="calShowsList">
					<div class="calShowsListItem" ><a ng-click = 'getBandInfo(calendar[$index].shows[0])'>{{calendar[$index].shows[0]}}</a></div>
					<div class="calShowsListItem"><a ng-click = 'getBandInfo(calendar[$index].shows[1])'>{{calendar[$index].shows[1]}}</a></div>
					<div class="calShowsListItem"><a ng-click = 'getBandInfo(calendar[$index].shows[2])'>{{calendar[$index].shows[2]}}</a></div>
					<div class="calShowsListItem"><a ng-click = 'getBandInfo(calendar[$index].shows[3])'>{{calendar[$index].shows[3]}}</a></div>
				</div>
			
			</div>
		
		</div>
		  <div style="clear: both;"></div> 

		
	</div>
</div>
<div style="height: 1250px">
 </div> 