

<!--<div class='carousel'>

  <ul class='panes'>

    <li>-->
    <div class="homeMain">
      	<div class="homeTitle">
		<div class = 'provobest'><p>PROVO'S BEST</p></div>
		<div class='liveMusic'>LIVE MUSIC</div>
		<div class='venue'>VENUE</div>
		</div>
	
		<div class='homeInfo'>
			<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates atque pariatur porro alias modi, sit nostrum accusamus cumque in, optio inventore aperiam, magnam quam quod illo. Harum in inventore facere.</p></div>	
			<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem modi reiciendis nobis voluptatum quo aliquam a et rerum iste nihil totam porro aspernatur eaque at, ipsam. Ipsum maxime aut distinctio?</div>
			<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore esse tenetur excepturi quasi beatae consectetur fugit delectus facilis doloribus necessitatibus, repellat voluptatibus, voluptatum, autem ad eligendi ipsum quis at iure?</div>
		</div>
    </div>


    <!--</li>

    <li>
         <div class="openMicPart">
            <img src="media/openMic3.png" alt="">
            <p>Join Us</p>
            <p>Every Tuesday</p>
            <p>for</p>
            <p>OPEN-MIC NIGHT</p>
      
        </div>

    </li>

    <li>
      Pane 03 title

    </li>

    <li>
      Pane 04 title

    </li>

    <li>
      Pane 05 title

    </li>

  </ul>

</div>-->

 <upcoming-shows></upcoming-shows>
