<div class="emailCard">
			<input class ='emailFormInput' ng-model = 'emailToVerify' placeholder="email"></input>
			<input class ='emailFormInput'ng-model = 'code' placeholder ="Verification Code"></input>
			<button class='verifyButton'ng-click='verifyEmail(emailToVerify, code)'>verify</button>
			<!--<button class='signUpButton'ng-click = 'postEmail(email, name)'><i class="fa fa-envelope-o"></i>&nbsp &nbsp sign-up</button>-->
			<!--<div class="claimFreeTicket"><a ui-sref='velour.redeem'>&nbsp &nbspClaim Free Ticket</a></div>-->
		</div>


<!--
	<button ng-click='verifyEmail(emailToVerify, code)'>verify</button>
	
	
	<input class ='emailFormInput' ng-model ='email' placeholder = 'EMAIL'></input>
			<input ng-model ='name' class = 'emailFormInput' placeholder = 'NAME'></input>-->