  <div class="upcomingShows">
        <div class="todaysDate"><div>UPCOMING SHOWS:</div>{{todaysDate}}</div>
        
        <div class="showrap">
                  <div class="shows" ng-repeat = 'sidebarShows in Shows'>
                      <div class="eachShow">
                          <div class="eachShowInfo">
                            <div class="artist">{{sidebarShows.artist.toUpperCase()}}</div>
                            <div class="dateOfShow">{{sidebarShows.date.month}}/{{sidebarShows.date.day}}/{{sidebarShows.date.year}}</div>
                            <div class="timeOfShow">{{sidebarShows.time.hour}}:{{sidebarShows.time.minute}}</div>
                        </div>
                        <button><a ng-click='getBandInfo(sidebarShows.artist)' >More Info</a></button>
        
                      </div>
                  </div>
        </div>

    
    </div>