.bandInput{
	display: float;
	width:400px;
}
.dateInput{width: 40px;}


.inputLine{
	float:left;
	clear:left;
	margin:5px;
}
.time >input {
	width: 30px;
}

.addShowButton{
	float:left;
	clear:both;
}

.price{
	clear: both;
}

.search{
	float:left;
	clear:both;
}
