.bandinfobody{
	margin-top: 20px;
    width: 40%;
    float: left;
    border: 1px solid #bdae85;
    border-radius: 10px;


}
.artist_card{
	margin-left:10px;
	margin-top:10px;
}

.bandInfoHeader{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size:40px;
	border-bottom:3px solid #bdae85;
	display:inline-block;
	width: 100%;
	margin-bottom:10px;
	background: #260d13;
	height:60px;
}


.time_card, .date_card, price_card {
	font-size:1.5em;
	margin:5px 10px;
}

.price_card{
	margin-bottom:20px;
	margin-left:10px;
	font-size: 1.5em;
}

.description_card{
	margin-bottom:20px;
	margin-left:10px;
	font-size: 1.2em;
	width:50%;
	font-size:20px;
}


@media screen and (max-width: 1100px){
	
	
}